<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project</title>
</head>
<body>
	<p>Content goes here.</p>

	<p>
		<img src=<%= require("./img/infrontlabs-logo1.svg") %> alt="" width="300">
	</p>


	<div id="app"></div>
</body>
</html>